$bg-color:#131113;
$primary-color:#ffffff;
$second-color:rgba(255,255,255,0.6);
$third-color:#3A354D;

$font:'Lato', sans-serif;
$brand-font:'Dancing Script', cursive;
$link-font-size:0.875em;

$break-small: 450px;
$break-large: 1200px;
$break-medium:600px;

$full-screen:100vh;